<?xml version="1.0" encoding="UTF-8"?>

<itemizer>

	<recipe name="container.document">
	
		<start-selector>support.function.start.text:capture(name)</start-selector>
		<end-selector>support.function.stop.text</end-selector>
		
		<subrecipes>
			<include-root-recipes />
		</subrecipes>
		
	</recipe>
	
	<recipe name="structural.sections">
	
		<class>ESXMLItem</class>
		<selector>context.support.function.structural.document.start.section:capture(itemizer-firstused) + balanced.brace:capture(name)</selector>
		
	</recipe>

<!--floats-->
	<recipe name="container.control.if">
		<class>ESXMLItem</class>
		<selector>context.support.function.structural.float:capture(name)</selector>
	</recipe>
	
		
<!--sections-->	
	<recipe name="container.startsections">
		
		<class>ESXMLItem</class>
		<start-selector>context.structural.document.support.function.start.section:capture(name)</start-selector>
		<end-selector>context.structural.document.support.function.stop.section</end-selector>
		<subrecipes>	
			<include-root-recipes />
		</subrecipes>
		
	</recipe>
	
<!--rest of environments-->		 
	<recipe name="container.environment">
	
		<class>ESXMLItem</class>
		<start-selector>context.support.function.start.environment:capture(name)</start-selector>
		<end-selector>context.support.function.stop.environment</end-selector>
		<subrecipes>
			<include recipe="container.environment"/>
			<include-root-recipes />
		</subrecipes>
	
	</recipe>


	<recipe name="container.startstop">
	
		<class>ESXMLItem</class>
		<start-selector>language-root.context > support.function.start.environment:capture(name)</start-selector>
		<end-selector>language-root.context > support.function.stop.environment</end-selector>
		<subrecipes>	
			<include-root-recipes />
		</subrecipes>
	
	</recipe>
	
	
<!--control block-->
	<recipe name="container.control.if">
		<class>ESJSControlBlockItem</class>
		<selector>context.keyword.control.if:capture(name)</selector>
	</recipe>
	
<!--comment-->
	<recipe name="context.comment">
		<class>ESCommentItem</class>
		<selector>comment</selector>
	</recipe>
	
<!--define/def...-->	
	<recipe name="container.support.function.define">
	
		<selector>context.support.function.define > support.function.name:capture(name)</selector>
				
	</recipe>
	
	
</itemizer>


