<?xml version="1.0" encoding="UTF-8"?>

<itemizer>

	<recipe name="context.container.document">
	
		<start-selector>support.function.start.text:capture(name)</start-selector>
		<end-selector>support.function.stop.text</end-selector>
		
		<subrecipes>
			<include-root-recipes />
		</subrecipes>
		
	</recipe>
	
	<recipe name="context.structural.sections">
	
		<class>ESXMLItem</class>
		<selector>context.support.function.structural.document.section:capture(itemizer-firstused) + balanced.brace:capture(name)</selector>
		
	</recipe>

<!--floats-->
	<recipe name="context.container.control.float">
		<class>ESXMLItem</class>
		<selector>context.support.function.structural.float:capture(name)</selector>
	</recipe>

<!--balanced brackets-->	
	<recipe name="context.container.startsections">
		
		<start-selector>context.structural.document.support.function.start.section:capture(name)</start-selector>
		<end-selector>context.structural.document.support.function.stop.section</end-selector>
		<subrecipes>	
			<include-root-recipes />
		</subrecipes>
		
	</recipe>
		
<!--sections-->	
	<recipe name="context.container.startsections">
		
		<class>ESXMLItem</class>
		<start-selector>context.openbracket.level0</start-selector>
		<end-selector>context.closebracket.level0</end-selector>
		<subrecipes>	
			<include-root-recipes />
		</subrecipes>
		
	</recipe>
	
<!--rest of environments-->		 
	<recipe name="context.container.environment">
	
		<class>ESXMLItem</class>
		<start-selector>context.support.function.start.environment:capture(name)</start-selector>
		<end-selector>context.support.function.stop.environment</end-selector>
		<subrecipes>
			<include recipe="context.container.environment"/>
			<include-root-recipes />
		</subrecipes>
	
	</recipe>


	<recipe name="context.container.startstop">
	
		<class>ESXMLItem</class>
		<start-selector>language-root.context > support.function.start.environment:capture(name)</start-selector>
		<end-selector>language-root.context > support.function.stop.environment</end-selector>
		<subrecipes>	
			<include-root-recipes />
		</subrecipes>
	
	</recipe>
	
	
<!--control block-->
	<recipe name="context.container.control.if">
		<class>ESJSControlBlockItem</class>
		<selector>context.keyword.control.if:capture(name)</selector>
	</recipe>
	
<!--metapost control block-->	
	<recipe name="metapost.container.control.for">
		<class>ESJSControlBlockItem</class>
		<start-selector>metafun.keyword.control[text='for']:capture(itemizer-firstused) + *:capture(open-parameters) ~ metafun.keyword.control[text=':']:capture(close-parameters)</start-selector>
		<end-selector>metafun.keyword.control[text='endfor']</end-selector>
		<subrecipes>
			<include recipe="metapost.container.control.for"/>
		</subrecipes>
	</recipe>
<!--metapost macro def-->
	<recipe name="metapost.container.function">
		<start-selector>metafun.storage.definition.begin:capture(itemizer-firstused) + *:capture(name)</start-selector>
		<end-selector>metafun.storage.definition.end</end-selector>
		<subrecipes>
			<include recipe="metapost.container.control.for"/>
		</subrecipes>
	</recipe>
<!--comment-->
	<recipe name="context.comment">
		<class>ESCommentItem</class>
		<selector>comment</selector>
	</recipe>
	
<!--define/def...-->	
	<recipe name="context.container.support.function">
		<selector>context.support.function.define > support.function.name:capture(name)</selector>
	</recipe>
	
	
</itemizer>


