<?xml version="1.0" encoding="UTF-8"?>

<codesense>

	<provider>
        <selector>context.key-name:capture(name) + assignment + *</selector>
        <completions>com.context.value-name.${name}</completions>
        <complete-match>[a-zA-Z@!\?\\]*</complete-match>
        <require-suffix>\s*,|\s*\]|\s*$</require-suffix>
    </provider>
    

    <provider>
        <selector>context.support.function:capture(name) + open-bracket + between,context.support.function:capture(name) + open-bracket + between + close-bracket</selector>
        <completions>com.context.key-name.${name}</completions>
        <complete-match>[0-9A-Za-z_@!?:\\]*</complete-match>
    </provider>
    
</codesense> 
