/*
    @theme ConTeXt Placeholder
    @placeholder ConTeXt
    @author Bernhard Rosensteiner <brosensteiner@gmail.com>
*/

:not(context.comment,context.string) {
	spell-check: disabled;
}

context.structural.container container.environment.table {
	background-color: rgba(160, 160, 160, 0.1);
}
context.structural.container container.environment.table support.function.table.cell {
	background-color: rgba(160, 160, 160, 0.7);
}
context.structural.container container.environment.table support.function.table.row {
	background-color: rgba(100, 100, 100, 0.7);
}
context.structural.container container.environment.table > support.function.start.table + balanced.bracket > between.brackets > keyword.other.table {
	color: #9b0808;
}

context.level0 {
	color: #F06D61;
}
context.level1 {
	color: #DA825F;
}
context.level2 {
	color: #C4975C;
}
context.level3 {
	color: #A8AB7B;
}
context.level4 {
	color: #8CBF99;
}
context.level5 {
	color: #413E4A;
}
context.level6 {
	color: #73626E;
}
context.level7 {
	color: #B38184;
}
context.level8 {
	color: #F0B49E;
}