/*
    @theme ConTeXt Placeholder
    @placeholder language-root.context
    @author Bernhard Rosensteiner <brosensteiner@gmail.com>
*/

:not(context.comment, context.string) {
	spell-check: disabled;
}

context.balanced.bracket > keyword.other.misc,
context.balanced > support.variable.define + keyword.other,
context.keyword-zone > keyword.other,
context.support.function + keyword.other,
context.keyword.spacecodes,
context.keyword.wordboundary {
	color: #d33682;
	font-weight: bold;
}

context.keyword-zone + plus-minus-keyword,
context.support.function.general.box + keyword-zone.to-spread-keyword > to-spread-keyword {
	color: #9DD748;
}

context.support.function.general.counting + context.support.function.general + keyword-zone.by-keyword {
	color: #9DD748;
}

context.support.function.general.rule + keyword-zone.depth-width-height-keyword,
context.support.function.general.rule + keyword-zone.depth-width-height-keyword + keyword-zone.unit + keyword-zone.depth-width-height-keyword,
context.support.function.general.rule + keyword-zone.depth-width-height-keyword + keyword-zone.unit + keyword-zone.depth-width-height-keyword + keyword-zone.unit + keyword-zone.depth-width-height-keyword
 {
        color: #9DD748;
}

context.structural.container.document structural.document {
	font-weight: bold;
}

context.structural.container.document container.environment.table {
	background-color: rgba(160, 160, 160, 0.1);
}
context.structural.container.document container.environment.table support.function.table.cell {
	background-color: rgba(160, 160, 160, 0.7);
}
context.structural.container.document container.environment.table support.function.table.row {
	background-color: rgba(100, 100, 100, 0.7);
}
context.structural.container.document container.environment.table > support.function.start.table + balanced.bracket > keyword.other.table {
	color: #9b0808;
}

context.level0 {
	color: #e90000;
}
context.level1 {
	color: #BF2603;
}
context.level2 {
	color: #F25B05;
}
context.level3 {
	color: hsl(21, 95%, 59%);
}
context.level4 {
	color: #F29E05;
}
context.level5 {
	color: #565766;
}
context.level6 {
	color: #8058BD;
}
context.level7 {
	color: #827EBC;
}
context.level8 {
	color: #9491AA;
}

context.support.function.text {
	color: #ffffff;
	font-weight: bold;
	background-color: hsl(204, 93%, 51%);
}
