/*
    @theme ConTeXt Placeholder
    @placeholder language-root.context
    @author Bernhard Rosensteiner <brosensteiner@gmail.com>
*/

:not(context.comment, context.string) {
	spell-check: disabled;
}

context.structural.container.document structural.document {
	font-weight: bold;
}

context.structural.container.document container.environment.table {
	background-color: rgba(160, 160, 160, 0.1);
}
context.structural.container.document container.environment.table support.function.table.cell {
	background-color: rgba(160, 160, 160, 0.7);
}
context.structural.container.document container.environment.table support.function.table.row {
	background-color: rgba(100, 100, 100, 0.7);
}
context.structural.container.document container.environment.table > support.function.start.table + balanced.bracket > between.brackets > keyword.other.table {
	color: #9b0808;
}

context.level0 {
	color: hsl(10, 80%, 10%);
}
context.level1 {
	color: hsl(29, 80%, 10%);
}
context.level2 {
	color: hsl(21, 50%, 40%);
}
context.level3 {
	color: hsl(21, 40%, 70%);
}
context.level4 {
	color: hsl(263, 60%, 30%);
}
context.level5 {
	color: hsl(263, 30%, 40%);
}
context.level6 {
	color: hsl(263, 20%, 99%);
}
context.level7 {
	color: hsl(500, 80%, 60%);
}
context.level8 {
	color: hsl(500, 50%, 80%);
}
